body {

    /* Sets the width of the entire page */
    width:100%;

    /* The browser calculates the margin */
    margin:auto
}

.container {

    /* container for the items in the header bar */

    width: 100%;
    margin: auto;
        
}
    
.header {
    
    /* This sets the header bar colour */
    background: #404040;
     
    /* This sets the header bar width and height */
    width:100%;
    height:75px;

     /* This sets the header bar position relative to the top of the page */
    top: 0;
    
     /* This fixes the header bar at the top of the page */
    position: fixed;
    
    /* This makes sure the body text vanishes behind the header bar when scrolling the page */
    z-index: 1;
       

}

.header2 {
    
    /* This sets the header bar colour */
    background: #404040;
     
    /* This sets the header bar width and height */
    width:100%;
    height:75px;

     /* This sets the header bar position relative to the top of the page */
    top: 0;
    
     /* This fixes the header bar at the top of the page */
    position: fixed;
    
    /* This makes sure the body text vanishes behind the header bar when scrolling the page */
    z-index: 1;
       

}
.logo {

   /* Positions the .logo class */
  float: left;
  padding-left: 15%;
  padding-top: 0px;

  /* Positions sets the .logo class font*/
    font-family: "Arial";
	
  /*Sets the .logo class font size*/
  font-size: 10px;

  /*Sets the .logo class font colour*/
  color: white;
 
  }

.logo2 {
       
    
   /* Positions the .logo class */
      
   padding-left: 250px;
   padding-top: 0px;

  /* Positions sets the .logo class font*/
    font-family: "Arial";

  /*Sets the .logo class font size*/
  font-size: 10px;

  /*Sets the .logo class font colour*/
  color: white;
 
  }

.content {

    /* Sets the width of the .content class (in this case the main body of text) */
    width: 75%;

    /*Sets the .content class font family*/
    font-family: "Arial";

    /*Sets the .content class font size*/
    font-size: 15px;

    /*Sets the .content class top margin - pushes the text down to clear the header*/
    padding-top: 80px;

    /*Sets the .content class left margin - moves the text to a centralised position on the page */
   padding-left: 15%;
    
 }
   
.sectionheader {

    /* Sets the width of the .sectionheader class */
    width: 75%;

    /*Sets the .sectionheader class font family, weight, style and variant*/
    font-family: "Arial";
	font-weight: Bold;
	font-style: normal;
	font-variant: normal;
		
    /*Sets the .sectionheader class font size*/
    font-size: 20px;
				
    /*Sets the .sectionheader class top margin - pushes the text down to clear the header*/
    /*padding-top: 80px;*/

    /*Sets the .sectionheader class left margin - moves the text to a centralised position on the page */
   padding-left: 0%;
    
 }


li {

    /*Sets the list style for the hyperlinks in the header*/
    list-style: none;

    /*Sets the hyperlinks into a straight line rather than a list */
    float: left;
    
    /*Spaces the hyperlinks from each other */
    margin-left:25px;

    /*Positions the hyperlinks from the top of the header */
    padding-top: 15px;

    /*Sets the font family for the hyperlinks in the header*/
    font-family: "Arial";  
 
    /*Sets the font size for the hyperlinks in the header*/
    font-size: 15px;
     
   }


 

.nav {
   
    /*Positions the hyperlinks to the right of the header*/

    padding-left: 60%;
    
     }

a:link {
    text-decoration: none;
}

a:visited {

    /*Sets the colour of any visited hyperlinks on the page*/

    color: mediumpurple;
}

     
a:hover {

    /*Sets the colour of hyperlinks on hover */

    color: red;
    font-size: 125%;
}

    
a:active {
    /*Sets the colour of hyperlinks on active*/

    color: yellow;
    
    }


a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 220px;
	background: #404040 url("../images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

